
header{
	background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px; 
}
body{
	text-align: center;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-seif;
}

form{
	font-family: Arial, sans-seif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
	text-align: center;
	color:#333;
}

label{
	display: block;
	margin:10px 0 5px;
	font-weight: bold;
}
input, textarea, select{
	width: 50%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="submit"]:hover{
	background-color: #45a049;
}
.container{

	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(0,0,0.1)
}

h1{
	text-align: center;
}

footer{
	background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px; 
}

.experiencia{
	text-align: left;
	font-family: Arial, sans-seif;
}  

table{
	width: 70%;
	border-collapse: collapse;
	margin: 20px 0;
}

th, td{
	border: 1px solid;
    padding: 8px;
}

th{
    background-color: #38aa6c;
}

img{
	border-radius: 20px;
}
